#controller_manager_ns: controller_manager
controller_list:
 - name: kawasaki/kawasaki_controller
   action_ns: follow_joint_trajectory
   type: FollowJointTrajectory
   default: true
   joints:
     - joint0
     - joint1
     - joint2
     - joint3
     - joint4
     - joint5
     - joint6